<form ng-init="card.getTeams()" enctype="multipart/form-data">

  <input type="file" ngf-select ng-model="card.img" name="picture" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
    ngf-resize="{width: 100, height: 100}" />
    <select name="teams">
      <option ng-repeat="team in card.teamsList track by $index" value="{{team.team}}">
        {{team.team}}
      </option>
    </select>
    <button type="submit" ng-click="card.postCard()">Submit</button>
    </form>
</form>
