<h1 ng-init="user.getCards()">Home</h1>
<ul>
  <li ng-repeat="card in user.allCards">
    {{card.created | date:'fullDate'}} <button class="btn btn-primary" ng-click="user.getCard(user.allCards[$index].id)">View</button>
    <button class="btn btn-danger" ng-click="user.deleteCard(user.allCards[$index].id)">Delete</button>
  </li>
</ul>
<h2>Preview</h2>
<div id="card-preview">
    <table ng-style="{'color': user.card.color2}">
      <tr>


        <td  class="front" ng-style="{'background-color': user.card.color1, 'width': '240px', 'height': '288px'}">
            <div>
                <h1 id="name">{{user.card.name}}</h1>
                <h2 id="team">{{user.card.team}}</h2>
                <img ngf-thumbnail="user.card.file" width="200" />
                <h3 id="crank-sisters">Crank Sisters</h3>
            </div>
        </td>
        <td class="back" ng-style="{'background-color': user.card.color1, 'width': '240px', 'height': '288px'}">
            <div>
                <h2 id="category">{{user.card.category}}</h2>
                <p id="question1">
                    Question 1: {{user.card.question1}}
                </p>
                <p id="question2">
                    Question 2: {{user.card.question2}}
                </p>
                <p id="question3">
                    Question 3: {{user.card.question3}}
                </p>
            </div>
        </td>
        <td ng-style="{'background-color': user.card.color1, 'width': '240px', 'height': '288px'}">
            <div class="front">
                <h1 id="name">{{user.card.name}}</h1>
                <h2 id="team">{{user.card.team}}</h2>
                <img ngf-thumbnail="user.card.file" width="200" />
                <h3 id="crank-sisters">Crank Sisters</h3>
            </div>
        </td>
        <td class="back" ng-style="{'background-color': user.card.color1, 'width': '240px', 'height': '288px'}">
            <div>
                <h2 id="category">{{user.card.category}}</h2>
                <p id="question1">
                    Question 1: {{user.card.question1}}
                </p>
                <p id="question2">
                    Question 2: {{user.card.question2}}
                </p>
                <p id="question3">
                    Question 3: {{user.card.question3}}
                </p>
            </div>
        </td>
        </tr>

    </table>


</div>
